<p>Hey,  <%= @user.email %></p>
<p></p>
<p>This is your password : <strong><%= @user.password %> </strong></p>
<p></p>

<p>
  Regards,<br />
  DebtFriends
</p>

<p>
Copyright 2013 APayments Inc.<br>
2603 Camino Ramon Road,<br>
San Ramon, CA 94583<br>
1.888.357.8531<br>
support@debtfriends.com<br>
</p>	

