<p>Hi <%=@user.email %>,</p>

<p>
You have an update to your debt settlement transaction on Debtfriends.<br>
Please visit, https://www.debtfriends.com and log-in with your email and password<br> to view the changes.
</p>	

<p>
Regards,<br>
DebtFriends	
</p>	

<p>
Copyright 2013 APayments Inc.<br>
2603 Camino Ramon Road,<br>
San Ramon, CA 94583<br>
1.888.357.8531<br>
support@debtfriends.com<br>
</p>	