<h1>About us</h1>
APayments was founded to provide consumers and lenders a way to work together to resolve outstanding debts in a low cost and convenient way.  Our platform enables the two parties to communicate and resolve outstanding balances in a safe, secure and private environment that results in significant cost savings and efficiencies for both parties.
<div class="about">
<h1>Benefits to Consumers</h1>
Lets face it; dealing with debt is no fun for anyone. That’s why we created a very intuitive user experience that keeps you in complete control of your money and communication with your lender.  As a result, you the consumer, can achieve financial freedom by resolving your outstanding debts once and for all while never speaking with a collector.  So what are the benefits?
<ul >
<li>
<b>No Cost to the Consumer, Ever! </b> You pay no up front fees, or success fees for resolving your debt. We do receive a small fee from the lender when you pay off your debt. This fee is paid by the lender but does not mean you are paying more.  Think of Priceline, the provider of the hotel pays a fee to the site but you the consumer still pay less than you would if you tried to book a room yourself.</li>
<li>
<b>Save Lots of Money!</b> If you have debt, which is delinquent, or even charged off, it is very common for lenders to work with you to resolve that debt for less than the full amount owed.  These savings can be substantial depending on how old the debt is.  Our MarketPlace allows you to work out each of your debts with your creditor on terms that are acceptable to both.</li>
<li>
<b>Convenient and Secure!</b> One of the reasons people don’t like dealing with debt is the hassle of talking to creditors and collectors and spending hours on the phone going back and forth while you try to reach agreement. APayments takes all of that hassle out of the process and keeps you in control. You will never be contacted at home or work by a collector as a result of your use of our platform.</li>
<li>
<b>Total Privacy Guarantee!</b> None of your personal information that you provide to us is ever shared with your creditors.  When you use our platform, you can be assured that you will not begin receiving collections calls because your information has been shared with your creditor. Payments are only made to your creditors when you say so. You can build a savings account, and when you are ready, you can confirm a payment arrangement and authorize payments to resolve your
 debt.</li>
</ul>
<h1>Benefits to the Lenders</h1>
<p>
Lenders are always looking for ways to recover money on outstanding debt. In fact, many lenders have large organizations, costing millions of dollars, making collections calls and bringing legal action against customers who have fallen behind on their payments. At APayments we think there is a better way to achieve better results at a lower cost. So what are the benefits?</p>
<ul>
<li>
<b>Reach More Consumers!</b>  The vast majority of resources in the collections process are spent on trying to contact consumers, often times with no success. It is costly and not all that effective. With APayments, consumers come to you. With APayments, consumers who are willing to work with you, come to you with reasonable offers to settle or resolve outstanding debt.</li>
<li>
<b>Save Lots of Money!</b> Not only are the fees charged by APayments much lower than traditional collections methods, you save on staffing and collections operations. You will lower headcount in your organization and collect more money net of expenses than any other channel you are using today.</li>
<li>
<b>Eliminate Compliance Risk!</b> We have all heard the horror stories or experienced the reputation and legal risk associated with violations of collections laws.  This risk is eliminated with Apayments because there are no outbound collections calls or direct communications with delinquent consumers. The consumer initiates the contact using our platform, and all your interactions are completed online.</li>
<li>
<b>Complete Control of Arrangements!</b> All of your collections parameters regarding acceptable terms for resolving a debt are in your control at all times. You set acceptable terms and review any proposals from consumers. Acceptance of the terms is in your complete control.  Using the APayments platform allows you to set and change terms on any outstanding debt at anytime.  Once you agree on terms with the consumer, both you and the consumer receive confirmation of the agreement and you simply wait for your money.</li>
</ul>
<h1>About APayments</h1>
<p>
APayments was founded to provide a better way for consumers and creditors to resolve outstanding debts. We have a team of professionals with successful track records in building Internet companies and also have substantial experience in the field of collections.  We have combined those skill sets to create a new and innovative way for addressing bad debt. </p>
<p>Our goal is to create a consumer driven marketplace, which is consumer friendly and also meets the needs of lenders attempting to recover monies owed to them. We believe we have created a business that provides a win-win solution to an age old problem.</p>
<p>APayments is located in San Ramon, California and can be reached at the contact information below.</p>
<p>
Apayments@APayments.com
</p>

</div>
