
<h1>Hope you find these FAQ answers useful!</h1>

<p><b>Q. How is DebtFriends different from other “debt settlement” companies who promise to negotiate deals for you for a fee?</b></p>

<p>A. DebtFriends is free online software that lets you negotiate deals directly with your lender. No middle man. You never pay a fee, the lender always pays. You are always in control. There are no recurring fees or trial periods you might forget about - it’s simply free to use.</p>
<p>
In addition, DebtFriends is a marketplace where lenders compete for your “wallet share”. What that means is that because you may not be able to pay all of your debt off at once, lenders will lower the amount they are willing to settle for in the hopes that you will negotiate with them first. It’s a win/win.</p>
<p>
In contrast, debt settlement companies negotiate with the lenders on your behalf. They act as the middle man between you and your lender. You sign up with them and commit to a large fee for their service without ever knowing if it’s going to work or whether you’ll be able to afford it. They typically recommend you go delinquent on your good debt which can have negative consequences on your credit and can actually get you further into debt with late fees and penalties. They hide how they are negotiating with the lenders because they don’t want you to know that you can do it yourself. This is silly. It’s your money, you should be able to control how you negotiate. 
</p>
<p><b>Q. If I can settle my debt myself, why do I need DebtFriends?</b></p>
<p>
A. It’s good to take control of your own debt settlement. You’ll end up saving more money. The one thing you will not save by doing it yourself is time. It can be very time consuming to send letters back and forth to your lender. You can spend hours on the phone trying to get to the right person and when you do, you have to think on your feet which can sometimes be intimidating. DebtFriends makes saving money on your debt legal, safe, private, risk-free and quick.</p>
<p>
WIth DebtFriends you can go as fast or as slow as you want. You have the luxury of trying your hand at negotiating with no pressure and no risk. Until you sign an agreement directly with your lender, you can cancel your offers at any time. No phone calls, no letters. Do it all online, instantly with completely secure privacy. In fact, you could settle your debt in as little as 5 minutes!</p>

<p><b>Q. How does DebtFriends access my credit information?</b></p>
<p>A. We ask you to securely enter your account information, including amounts owed, and the approximate date of the last payment.</p>
 
<p><b>Q. How can this tool be free? How does DebtFriends make money?</b></p>

<p>A.  We want to make it as easy as possible for you to negotiate with your lender.  DebtFriends gives you the power to negotiate directly with your lender so we don’t have to pay a bunch of middle men to do the work for you. Instead, the DebtFriend software does that work for you. We get paid a percentage of the settlement amount, by lenders - contingent on a successful outcome.</p>
<p><b>Q. Why shouldn’t I declare bankruptcy? Wouldn’t that get rid of all my debt?</b></p>
<p>
A. Sometimes it feels like your debt is so insurmountable that your only option is bankruptcy. But you should be careful before making that choice. Bankruptcy will affect your credit for years to come. It can result in loss of property and you still may be forced to pay off the debts.</p>
<p>
Here’s what to expect if you choose to declare bankruptcy:<p>
<p>- Bankruptcy can destroy your credit by leaving your ratings low for as long as 7 to 10 years.</p>
<p>- Chapter 7 bankruptcy can require the sale of any property not protected by law.</p>
<p>- Chapter 13 bankruptcy will offer a payment plan and will leave a bankruptcy mark on your credit report.</p>
<p>- Your credit report will reflect the bankruptcy option you chose, and your chances of getting credit will be low if not impossible and the interest rates will be high.</p>

<p><b>Q. How do I negotiate with a lender? </b></p>
<p>
A. We’ll help you with negotiating tips at every step of the way. You don’t need to an expert or have any experience with negotiating with a lender to be successful. In general rule, if you have charged off debt, the lender is willing to accept less than the total owed (sometimes you can save as much as 50% off your original amount owed </p>

<p><b>Q. Don’t you need to be a “debt settlement professional” to get the best deal? What if I don’t know how to negotiate?</b></p>
<p>A. Don’t worry. You’ll find it’s not that hard. Typical debt settlement companies exaggerate the importance of their “professionals.” It’s true there is a lot of legal paperwork and phone calls that need to occur in the old way of settling your debt - and it takes a lot of time. But you end up paying more. DebtFriends puts all of that expertise online for free. We’re here to help you at every step along the way in real-time. We’ll explain every step in very simple terms and let you know clearly what is happening and the choices you have. You can change your mind and cancel at any time (except after you’ve signed an agreement with your lender, of course - we’ll let you know loud and clear before you take that step)</p>

<p><b>Q. Why DebtFriends?</b></p>
<p>A. DebtFriends was started by credit industry professionals who have been in the settlement and collections industry for a combined total of 90 years. They saw people trying to do the right thing but not able to because of the way the system works. They were tired of seeing fear, anger, distrust, discouragement and shame stop people from taking steps to settle their debt. They were tired of seeing lenders with policies that work against their own best interests by treating people as a statistic and refusing to negotiate with those who are willing to settle. </p>
<p>We know you’ve had unforeseen circumstances that put you in this situation with your debt. You might even be avoiding those calls at dinner or those knocks on your door out of fear or shame, but you still want to do the right thing and settle your debt. You want to get on with your life. We made the DebtFriends online software free, so that you can deal with your debt and get on to a better life.</p>

<p><b>Q. What if my debt is not “charged off” yet?</b></p>
<p>A. Charged off debt is debt that is typically delinquent for more than 90 days. We think that you are most likely to get the most savings if you start negotiating your charged off debt first. Credit card debt only qualifies at this time, but we will be adding more types of debt in the future.</p>

<p><b> 
Q. Where else can I find trustworthy places online can learn more about settling my debt?
</b></p>
<p>A. Here is a list of not-for-profit, trusted sources for how you can deal with many issues related to debt, including settling that debt.</p>
<p>- Federal Trade Commision, Dealing with Debt</p>

<p>Here’s some places to go to get free credit reports and personal credit analysis:</p>
<p>- Credit Karma</p>


<p>Comparison Chart</p>
<table width = "100%" border =1 cellpadding =1 cellspacing =0 class="help">
  <colgroup width=20%></colgroup>
  <colgroup width=40%></colgroup>
  <colgroup width=40%></colgroup>
 <tr>

  <td></td>
  <td>DebtFriends</td>
  <td>“Debt settlement” companies</td>	
 </tr>
<tr>

  <td>Cost</td>
  <td>Free to use. Lenders pay us a success based settlement fee</td>
  <td>Large upfront fees. Pay before you’ve saved anything. </td>	
 </tr>

<tr>

  <td>Types of debt</td>
  <td>All Types of Debts</td>
  <td>Many types of debt. Typically, you won’t qualify if have charged off debt.</td>	
 </tr>
<tr>

  <td>Minimum balance</td>
  <td>No minimum</td>
  <td>Typically $10,000</td>	
 </tr>
</table>

