<h1>Privacy</h1>
<ul style="list-style:inside;margin:14px;">
	<li style="text-indent:-13px;">Debtfriends takes your privacy very seriously. We NEVER sell, rent or share your information with any third parties whatsoever</li>
	<li style="text-indent:-13px;">You automatically get our Stop Collections feature, and we never share any address or phone information with any of your creditors</li>
</ul>

