<div class="about">
<h1>Debt Settlement Bill of Rights</h1>
<p><b>
What the FTC Laws for Debt Settlement Mean for You</b></p>
<p> 
Here's a summary of the FTC's new rules (effective since October 27, 2010):
<ul>
<li>
<b>No more upfront fees:</b> Debt settlement companies that offer services over the telephone can no longer charge upfront fees before performing any services to their customers. According to the FTC's web site, too many such firms were taking enormous upfront fees and doing little to help consumers, leaving many with little choice but to file for bankruptcy.
</li>
<li>
<b>More specific disclosures:</b> Additionally, debt settlers must now divulge specific information to their customers before a customer signs any agreements. These disclosures include statistics about the typical results for a debt settlement.
</li>
<li>
<b>Misrepresentation ban:</b> Debt settlement companies are now banned from falsely representing their services, what their services can do for consumers and what their success rate has been in the past.
</li>
<li>
<b>Extension of telemarketing rules:</b> Finally, FTC laws for debt settlement extend telemarketing rules to cover calls that consumers make to the debt settlement companies in response to an ad or solicitation.
</li>
</ul>
</p> 
<p>
It's important to note that the new rules are designed specifically for for-profit debt settlement firms,credit counseling firms and debt negotiation firms, as well as any such firm that falsely claims nonprofit status and uses telemarketing.</p>
 
<p><b>Other Provisions of the FTC Laws for Debt Settlement</b></p>
<p> 
In addition to the broad terms above, the FTC has set up rules that require some more specific concessions from for-profit debt settlement and other firms. Those include:
<ul>
<li><b>Restrictions on dedicated accounts:</b> Firms that want customers to keep their debt settlement money in a "dedicated account" may do so, but only if that account is kept at an insured financial institution that has no business or financial relationship with the debt settlement firm, is owned in full by the customer (including interest) and is accessible for withdrawal by the customer.
</li>
<li><b>Specific limits on fee collection:</b> Debt settlement firms are not permitted to collect any fees from consumers until three conditions have been met: the firm successfully negotiates the terms of at least one of the customer's debts, the customer agrees in writing to a specific debt management plan, and the customer makes at least one payment to the debt settler in accordance with that plan.
</li>
</ul>
</p>
</div>
