<h1>Debt  Friends Terms and conditions</h1>
<p>Welcome to our site. This page provides important information about use of this site and other legal matters.</p>
<p>
Please read all of the following Debtfriends terms and conditions carefully before registering on Debtfriends. They govern your use of the Debtfriends web site, on a desktop or mobile device.(the "Site"). 
</p>
<p>
By using this Site, you signify your acceptance of these Terms and Conditions of Use. Please be aware that they may be changed or updated at any time without prior notice. Changes are effective when posted on the Site. Please review them periodically for current information. By continuing to use the Site, you agree to any changes or updates. Additional legal notices, terms and conditions regarding Debtfriends.  If you do not agree to these terms and conditions, do not use this Site.</p>

<h1>Ownership and Use of Content Copyright</h1>

<p>
All of the information and content on this Site, including but not limited to all text, graphics, images, software applications and code, video, audio, and user interface design ("Content") is the property of Debtfriends or APayments Inc, and is protected by United States and foreign copyright laws and conventions. You may not modify, reproduce, copy, distribute, transmit, display, publish, download or upload, sell, license, create derivative works of or use any aspect of the Site or its Content for commercial or public purposes or for any other purpose not expressly permitted by these Terms and Conditions. The use of the Content on any other site or in a networked computer environment for any purpose, or any other republication, redistribution or use of the Content, including, without limitation, framing the Content within another site, is expressly prohibited without the prior written permission of Debtfriends.
</p>
<h1>Trademarks, Service Marks, and Logos</h1>
<p>
The trademarks, service marks, logos, URLs and domain names, registered or not, are the property of Debtfriends, APayments Inc. companies. You may not use, copy, download, display, transmit or modify any Mark in any way without the prior written consent of the owner of such Mark. You may not include the Debtfriends name, any Mark or any variation of the foregoing, as a metatag, hidden textual element, or any other indicator that may create an impression of affiliation, sponsorship, endorsement or any other relationship between this Site, Debtfriends or APayments Inc., company and any other site, person, entity or organization.</p>
<h1>Links</h1>
<p>
From time to time, Debtfriends may provide links from this Site to a non-Debtfriends site or permit a link from a non-Debtfriends site to this Site. Such links are for your convenience only and do not imply any affiliation with, or an endorsement, authorization, sponsorship or promotion of the non-Debtfriends site or its owner. Debtfriends does not control or review any link, and accepts no responsibility for the content, products or services provided at these linked sites. If you decide to access such non-Debtfriends sites, you do so solely at your own risk and you should be aware that non-Debtfriends sites are governed by their own terms and conditions and privacy policies. Links to this Site may be made only with the permission of Debtfriends. A link to this Site may be permitted in Debtfriends’s discretion, where, without limitation, such link (a) is to this Site's homepage, (b) clearly informs users that the link is to the Debtfriends site, (c) does not imply any affiliation, endorsement, sponsorship or other relationship between the linkDebtfriends site or the site owner and Debtfriends, (d) delivers this Site's Content without framDebtfriends or similar environment, and (e) maintains the integrity of this Site's layout, content and look and feel. Debtfriends reserves the right in its sole discretion to refuse permission or to cancel permission to link to this Site at any time.</p>
<h1>Submissions</h1>
<p>
All information submitted to Debtfriends via this Site shall be deemed and remain the property of Debtfriends and we shall be free to use, for any purpose, anywhere and in any format, any ideas, concepts, know-how or techniques contained in the information you may provide to Debtfriends through this Site. Debtfriends shall not be subject to any obligations of confidentiality regarding such information, except as specifically stated in our privacy policies, specifically agreed to or required by law. You are advised that Debtfriends does not want you to provide and prohibits you from providDebtfriends any information or materials to Debtfriends that are defamatory, threatening, obscene, harassing, or otherwise unlawful or offensive, or that incorporate the proprietary material of another without authority.</p>
<h1>Content and Liability Disclaimer</h1>
<p>
No warranty. Our intent is to provide accurate and up to date content on this Site; however, that is not always possible. THEREFORE, ALL CONTENT, SERVICES AND FUNCTIONS ON THIS SITE, OR ANY OTHER SITE LINKED TO THIS SITE, ARE PROVIDED "AS IS" AND "AS AVAILABLE" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.</p> 
<p>
Some jurisdictions do not allow the exclusion of certain implied warranties in which event any required warranty applies to the minimum extent legally required.</p>
<p>
Content is provided for informational purposes only and should not be relied on. Although the information on this Site may include statements on various debt settlement techniques, it is provided for informational purposes only, and is not intended and should not be relied upon as legal, tax or personalized advice. Debtfriends does not warrant or make any representations regarding the suitability, usefulness or expected results of the Content, services, products or functions.
</p>
<p>
You should not rely solely upon this information in making any decisions.  You should consult your financial professional and legal and/or tax advisor for advice about the appropriateness of products and services for you, and the effect of state and federal law on the products, services or issues discussed on this Site, or of federal income taxes or any other taxes on amounts held or paid out under any financial products described.</p>
<p>Content may contain inaccuracies or errors and may change.</p>
<p>
No warranty or representation is made that the information on this Site is complete, accurate, up-to-date or error-free or that known defects will be corrected. Content, services, products or functions available at this Site may be changed or updated at any time without notice; but Debtfriends has no obligation to update this Site so information may be out-of-date at any given time.</p>
<h1>Access and Availability</h1>
<p>
No warranty or representation is made that this Site or any part or function, including without limitation any transactional function, will be available and not subject to interruption at any time.</p>
<p>
No warranty or representation is made that any Content, service, product or function, includDebtfriends without limitation any downloadable files, available at this Site or any linked site is free of a computer virus, malware or other destructive or harmful program, software, code or device which may erase, scramble, lock or disable any computer software, content or equipment or may prevent users from using a site or any other item of hardware or software. You should routinely scan your system and downloaded files for such disabling devices.
</p>
<h1>Limitation on Liability and Damages</h1>
<p>
IN NO EVENT WILL Debtfriends BE LIABLE TO ANY PARTY FOR ANY DIRECT, INDIRECT, SPECIAL, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL DAMAGES, INCLUDING, WITHOUT LIMITATION, ANY LOST PROFITS, BUSINESS INTERRUPTIONS, LOSS OF PROGRAMS OR DATA ON YOUR EQUIPMENT, OR OTHERWISE, EVEN IF WE OR ANY OF OUR REPRESENTATIVES ARE EXPRESSLY ADVISED OF THE POSSIBILITY OR LIKELIHOOD OF SUCH DAMAGES, ARISING OUT OF OR RELATED TO ANY USE OF OR INABILITY TO USE THIS SITE, OR ANY OTHER LINKED SITE, INCLUDING, WITHOUT LIMITATION, USE OF OR RELIANCE ON INFORMATION, INTERRUPTIONS, ERRORS, DEFECTS, MISTAKES, OMISSIONS, DELETION OF FILES, DISABLING DEVICES, DELAYS IN OPERATION OR TRANSMISSION, NONDELIVERY OF INFORMATION, THEFT, UNAUTHORIZED ACCESS, DISCLOSURES OF COMMUNICATIONS, OR ANY FAILURE OF PERFORMANCE. Some jurisdictions do not allow limitation or exclusion of certain liabilities or damages in which event in such jurisdiction the foregoing shall apply to the maximum extent allowed by law. You are responsible for the entire cost of all servicing, repair or correction of your property or operations, including without limitation your computer, network, software or any device, required as a result of or related to using this Site. In no event shall Debtfriends's total liability to you for damages, losses and causes of action of any kind - whether in contract, tort (including, but not limited to, negligence), strict liability or otherwise - exceed the amount paid by you, if any, for accessDebtfriends this Site.</p>
<h1>Monitoring Use</h1>
<p>
Debtfriends reserves the right to monitor any and all use of this Site in its discretion. However, unless required by law, we do not have any obligation to you to conduct such monitoring or to take any action based on any monitoring we may conduct.</p>
<h1>Security</h1>
<p>
You should be aware that in general information sent through the Internet is not secure. Email services that may be provided through this Site generally are not encrypted and do not provide a secure and private means of communication with us. For certain types of communications through this Site, we may require the use of encryption technologies provided for your protection and/or require you to use user identification information ("UserID") and passwords. You are responsible for the confidentiality and use of your UserID, password, social security number and account number. If you become aware of any loss, theft or unauthorized use of your UserID, password, social security number or account number, immediately notify the appropriate Debtfriends company. While Debtfriends may provide those technologies and use other reasonable precautions to protect confidential information and provide suitable security, we cannot guarantee that information transmitted through the Internet is secure, or that such transmissions will be free from delay, interruption, interception or error. Please be aware that although passwords or other security protections may be in use, Debtfriends reserves the right to monitor any and all transmissions, stored messages and routine backup copies of communications to ensure appropriate system usage.
</p> 
<h1>Miscellaneous Governing Law</h1>
<p>
The laws of the State of California. govern these Terms and Conditions, without regard to its conflict of laws provisions. If you take legal action relating to these Terms and Conditions or arising out of or relating to your use of this Site, you agree to file such action only in New York and you consent to submit to the personal jurisdiction of the state and federal courts of New York for the purposes of pursuing any such action. Any cause of action you may have with arising out of or related to your use of this Site must be commenced within one (1) year after the cause of action arises. Debtfriends reserves the right to seek all remedies available at law and equity for violations of these Terms and Conditions, as well as the right to restrict access to this Site or any portion of it. Debtfriends does not represent that the information in this Site is appropriate or available for use in other locations, and access from certain locations may be strictly prohibited. Those who access this site do so on their own initiative and are responsible for compliance with all applicable local laws.</p>
<p>
U.S. Export Controls Software is subject to United States export controls. No software may be downloaded or otherwise exported or re-exported (i) into (or to a national resident of) Cuba, Iraq, Libya, North Korea, Iran, Syria, or any other country to which the United States has embargoed goods, or (ii) to anyone on the U.S. Treasury Department list of Specially Designated Nationals or the U.S. Commerce Department Table of Deny Orders. You represent and warrant that you are not located in, under the control of, or a national resident of any such country or on any such list. You agree to comply with United States export control laws and that you will not transfer any software or other content from this Site in violation of United States export controls.</p>
<h1>Entire Agreement</h1>
<p>
These Terms and Conditions represent the entire agreement between Debtfriends and you relating to the subject matter herein. If any provision of these terms is deemed unlawful, void or for any reason unenforceable, then that provision will be deemed severed from these terms and will not affect the validity and enforceability of the remaining provisions.
</p>  
<h1>DebtFriends Service</h1>
<p>
Debtfriends is not a collections agency, and does not represent the creditor. Apayments, Inc makes no warranty or claim about your ability to resolve your debts differently than you could without using Debtfriends.com settlement software service.
</p>
<p>
	You agree to engage Apayments, Inc. to negotiate and attempt to settle the debt on your behalf. Your authorization is for purposes of settling your debts through Apayments, Inc or Debtfriends.com. website.
</p>
<p>
	You will also on a timely basis furnish Apayments, Inc with any necessary personal and/or financial information to ensure your ability to settle your debt with creditors.
</p>

<h2>
	Products and Services
</h2>
<p>
Certain of the websites function as an online marketplace where visitors can research and submit requests for debt resolution services and research different types of home and consumer loans, as well as other products and services. We do not share your information with your creditors. 
</p>
<p>
By submitting your contact information to us, you are expressly consenting to be contacted by us by  telephone, email or postal mail <i>even if you have opted into the national Do Not Call List administered by the Federal Trade Commission, any state equivalent Do Not Call List, or the Do Not Call List of any specific institution.</i>
</p>
<h2>
	Modification of These Terms of Service.
</h2>
<p>
Apayments,Inc reserves the right to change, modify, add or remove portions of these Terms of Service at any time by posting amended Terms of Service. Please check these Terms of Service periodically for changes. Your continued use of any of the websites after the posting of changes constitutes your binding acceptance of such changes. Except as stated elsewhere, such amended Terms of Service will be effective immediately and without further notice.
</p>
<h1>Stop Collections Calls Feature</h1>
<p>
The “Stop Collections Calls” feature is a voluntary service that is offered as a free service of Debt Friends to facilitate a
dialogue between consumers and creditors. This is a voluntary service that you can terminate at any time.
Debt Friends makes no warranty that any calls will be stopped by any creditor as a result of your participation in this
service. You the consumer agree to update your information on a regular basis.
</p>
<p>
Debt Friends makes no warranty that any calls will be stopped by any creditor as a result of your participation in this service.</p>
<p>You the consumer agree to maintain regular updates</p> 
<h1>How it works – Basic Features</h1>
<p>The consumer enrolls in “Stop Collections Calls” feature by signing up on Debtfriends . Certain identifying information, including your name and phone number will be entered into a database which will be used by creditors, on a voluntary basis,  to suppress collection calls to you as long as you maintain compliance with the service.</p>
<p>You agree to update your current financial status on a regular basis to maintain your enrollment in the feature.  Updating your current financial status means updating certain fields in the My Profile section of the website.</p>
<p>Your creditor agrees that they will not contact you by phone regarding your debt with them while you are updating your status as unable to pay.</p>
<p>Once your financial situation changes and you are able to begin repaying your debts, you agree to engage in a dialogue with your creditors to initiate repayment options with the creditors.</p>
<p>Failure to update your profile on a periodic basis will result in removal from the “Stop Collections Calls” feature. You will be notified by email, when you need to update your profile and when you will be dropped from the feature to provide you with ample time to update your status.</p>
<p>You agree that you will be truthful about your status during your updates. Entering any incorrect information will result in removal from the feature.</p>
<h1>No Legal Representations</h1>
<p>The “Stop Collections Calls” feature is a voluntary program that has no relationship with or makes no representations about your rights under any state or federal laws governing debt collections for you or your creditors.  Any rights you have under the law are your responsibility. It is up to you to ensure your  rights are protected.
</p>






